<h3>Lista de Contatos</h3>
<ng-template #content>
  <app-adicionar-contato></app-adicionar-contato>
</ng-template>
<div class="container-fluid">
  <button
    type="button"
    class="btn btn-primary mb-3"
    (click)="adicionarContato()"
  >
    Adicionar Contato
  </button>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (contato of contatos(); track contato.id) {
    <div class="col">
      <app-contato
        [contato]="contato"
        (aoExcluirContato)="aoExcluirContato(contato)"
        (aoEditarContato)="aoEditarContato($event)"
      ></app-contato>
    </div>
    } @empty {
    <p>Nenhum contato encontrado</p>
    }
  </div>
</div>
