<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{ contato()?.nome }}</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <label for="telefone" class="col-md-4">Telefone:</label>
      <span class="col-md-8">{{ contato()?.telefone }}</span>
    </div>
    <div class="row">
      <label for="email" class="col-md-4">E-mail:</label>
      <span class="col-md-8">{{ contato()?.email }}</span>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-primary mt-2">Editar</button>
      </div>
      <div class="col-md-4">
        <button
          type="button"
          class="btn btn-danger mt-2"
          (click)="excluirContato(contato()?.id)"
        >
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>
