<div class="container-fluid mb-3 card p-3">
  <form
    class="form-group"
    (ngSubmit)="buscar()"
    [formGroup]="formularioBuscador"
  >
    <div class="row">
      <label for="buscar">Nome Contato:</label>
      <span class="col-8">
        <input
          type="search"
          class="form-control"
          placeholder="Filtro por nome de Contato(Vazio, busca todos os contatos)"
          id="buscar"
          formControlName="texto"
        />
      </span>
      <span class="col-4">
        <button class="btn btn-primary" type="submit">Buscar</button>
      </span>
    </div>
  </form>
</div>
